apiVersion: apps/v1
kind: Deployment
metadata:
  name: upload-service
spec:
  template:
    spec:
      containers:
        - name: upload-service
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "250m"
